
* {
  box-sizing: border-box;
}

body {
  font-family: "SourceSansPro", sans-serif;
  background-image: linear-gradient(to bottom, #efc1d9,  #df68ab);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
  overflow: scroll;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  min-height: 100vh;
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  padding: 4rem 0;
}

.container {
  max-width: 900px;
  width: 100%;
}

.main {
  position: relative;
  min-height: 400px;
  height: 100%;
  background-color: $white;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: $white;
  transition: opacity .3s linear;
}

.button {
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  border: none;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration: none;
  text-align: center;
  font-weight: 300;
  outline: none;
  z-index: 0;
  line-height: 1.75;
  letter-spacing: 0.225rem;
  text-transform: capitalize;
  color: $white;
  background-color: $dark-grey;
  padding: 0.7rem 1.5rem;
  transition: background-color 0.3s;
  &:hover {
    background-color: #616060;
  }
}
