//header
.header {
  padding: 30px 0;
}

.nav {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 1.25rem 0;
  text-align: center;

  &__item {
    position: relative;
    display: inline-block;
    padding: 1rem 1.875rem;
    transition: background-color .3s linear;
    a {
      display: block;
      font-size: 2.5rem;
      line-height: 1;
      color: rgba(255, 255, 255, .5);
    }
    & .arrow {
      display: none;
      position: absolute;
      top: 80px;
      border-top: 20px solid transparent;
      border-bottom: 20px solid transparent;
      border-right: 30px solid $white;
      left: 50%;
      transform: rotate(90deg) translateX(-50%);

      &.arrow-active {
        display: block;
      }
    }
    &.tab-active {
      a {
        text-decoration: none;
        color:rgba(255, 255, 255, 1);
        transition: color .3s linear;
      }
    }
  }
}

//global
.global {
  width: 100%;
  background-color: $white;
  margin-bottom: 1.25rem;
}

// section home
.home {
  display: flex;
  flex-direction: column;
  @media screen and (min-width: 576px) {
    flex-direction: row;
  }
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    padding: 3.5rem;
    text-transform: capitalize;
    @media screen and (min-width: 576px) {
      width: 62%;
    }
  }
  &__title {
    font-size:  2.4rem;
    font-weight: 400;
    line-height: 1.5;
    color: $black;
  }
  &__subtitle {
    font-size: 1.25rem;
    font-weight: 400;
    color: $light-grey;
  }

  &__image {
    width: 100%;
    @media screen and (min-width: 576px) {
      width: 38%;
    }
  }
}


//section work
.work {
  &__inner {
    padding: 3.125rem;
  }
  &__title {
    font-size: 1.8rem;
    font-weight: 400;
    color: $black;
    padding-bottom: 1.5rem;
    text-align: left;
  }
  &__text {
    color: $grey;
    padding-bottom: 1.5rem;
  }
  &__img {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 -10px;
    a:hover {
      border: none;
    }
  }
  &__item {
    width: 33.333%;
    padding: 10px;
  }

}

//section contact
.contact {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1.5rem;
  & .form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 1rem;
    font-weight: 300;
    &__input {
      line-height: 1.35rem;
      padding: 1rem;
      border: none;
      margin-bottom: 1.5rem;
      background-color: $color-form;
      color: $grey;
    }
  }
  & .col-6 {
    width: 48%;
  }
  & .col-12 {
    width: 100%;
  }
}


//footer
.footer {
  & .nav {
    &__item:not(:last-child) {
      border-right: 1px solid $white;
    }
  }
}


.tab-item {
  display: none;
  &.active {
    display: block;
  }
}
